body, html {
    margin: 0;
    padding: 0;
    outline: 0;
}

.cube {
    position: relative;
    margin-left: 300px;
    margin-top: 100px;
}

.side {
    height: 195px;
    position: absolute;
    width: 195px;
    margin: 0;
}

.top {
    transform: rotate(-45deg) skew(15deg, 15deg);
    background: linear-gradient(45deg, blue, white);
}

.left {
    background: black;
    transform: rotate(15deg) skew(15deg, 15deg) translate(-50%, 100%);
    background: linear-gradient(-120deg, blue, white);
}
.right {
    background: black;
    transform: rotate(-15deg) skew(-15deg, -15deg) translate(50%, 100%);
    background: linear-gradient(120deg, blue, white);

}
.cube:hover .top {
    transform: translate(0, -30%) rotate(-45deg) skew(15deg, 15deg);
    transition: 1s;
    background: linear-gradient(-90deg, blue, white);
}

.cube:hover .left {
    transform: translate(-80%, 100%) rotate(15deg) skew(15deg, 15deg);
    background: linear-gradient(270deg, white, blue);
    transition: 2s;
}

.cube:hover .right {
    transform: translate(80%, 100%) rotate(-15deg) skew(-15deg, -15deg) ;
    transition: 3s;
    background: linear-gradient(0, blue, white);
}





